/* veriabels */
/* FONTS */
/* COLOR */
/* TRANSITION */
/* mixins */
/* media */
/* max-width */
/* min-width */
/* FONTS */
/* SVG Socails Animation */
/* BASE */
/* FONTS */
/* COLOR */
/* TRANSITION */
@font-face {
  font-family: "Graphik";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Graphik-Medium.eot");
  src: url("../fonts/Graphik-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Medium.woff") format("woff"), url("../fonts/Graphik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Graphik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Graphik-Regular.eot");
  src: url("../fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Regular.woff") format("woff"), url("../fonts/Graphik-Regular.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: "Graphik";
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  -webkit-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

a:hover {
  opacity: .8;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="submit"] {
  cursor: pointer;
  -webkit-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

input[type="submit"]:hover {
  opacity: .8;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1062px;
  padding: 0 15px;
}

h1 {
  font-weight: 500;
  font-size: 78px;
  line-height: 78px;
  letter-spacing: -2.5px;
  color: #1A1D3E;
}

h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1px;
  color: #1A1D3E;
}

h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #1A1D3E;
}

.primary-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.3px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: "Graphik";
  background-color: #007AFF;
  color: #fff;
  -webkit-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.primary-btn:hover {
  background-color: #7589A5;
}

.primary-btn_small {
  padding: 15px 24px;
}

.primary-btn_medium {
  padding: 19px 32px;
}

.primary-btn_large {
  padding: 23px 48px;
}

.label {
  display: table;
  padding: 6px 10px;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: "Graphik";
  background-color: #007AFF;
  color: #fff;
  text-transform: uppercase;
}

.label_light {
  background-color: rgba(255, 255, 255, 0.2);
}

.main {
  display: block;
  position: relative;
  overflow-x: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overlay--visible {
  opacity: 1;
  visibility: visible;
}

.no-scroll {
  overflow: hidden;
}

.input-hidden {
  display: none;
}

.main-section__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  padding: 23px 33px;
  border: 1px solid #7589A5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  display: inline-block;
  -webkit-transform: all 0.3s ease;
      -ms-transform: all 0.3s ease;
          transform: all 0.3s ease;
  margin-top: 48px;
}

.main-section__btn:hover {
  background-color: #007AFF;
  border: 1px solid #007AFF;
}

.form-title--xl {
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1px;
  color: #1A1D3E;
}

.index {
  overflow: visible;
}

.index .main {
  overflow: visible;
}

.order-consult {
  padding: 48px 56px;
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: #fff;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.order-consult--visible {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.form-title {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  color: #1A1D3E;
  margin-bottom: 32px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper:first-child .form-input {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  border-bottom: 1px solid rgba(117, 137, 165, 0.2);
}

.input-wrapper:first-child + .input-wrapper .form-input {
  border-top: 1px solid transparent;
}

.input-wrapper + .input-wrapper .form-input {
  border-bottom: 1px solid transparent;
}

.input-wrapper:last-child .form-input {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  border-bottom: 1px solid rgba(117, 137, 165, 0.2);
}

.inputs-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 8px;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 24px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  line-height: 18px;
  color: #7589A5;
  width: 37.9%;
  z-index: 2;
}

.form-input {
  width: 100%;
  height: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 41.66%;
  color: #1A1D3E;
  font-size: 16px;
  background: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid transparent;
  border: 1px solid rgba(117, 137, 165, 0.2);
}

.error {
  border: 1px solid #FF3B30;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.form-input:hover {
  border: 1px solid #007AFF;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-top: 1px solid #007AFF !important;
  border-bottom: 1px solid #007AFF !important;
}

.form-input:focus {
  border: 1px solid #007AFF;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-top: 1px solid #007AFF !important;
  border-bottom: 1px solid #007AFF !important;
}

.form-details {
  width: 100% !important;
  height: 128px;
  padding: 22px 24px;
  color: #1A1D3E;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid rgba(117, 137, 165, 0.2);
  resize: none;
}

.form-details:hover {
  border: 1px solid #007AFF;
}

.form-details:focus {
  border: 1px solid #007AFF;
}

.form-details::-webkit-input-placeholder {
  color: #7589A5;
  font-size: 16px;
  line-height: 20px;
}

.form-details::-moz-placeholder {
  color: #7589A5;
  font-size: 16px;
  line-height: 20px;
}

.form-details::-ms-input-placeholder {
  color: #7589A5;
  font-size: 16px;
  line-height: 20px;
}

.form-details::placeholder {
  color: #7589A5;
  font-size: 16px;
  line-height: 20px;
}

.textarea-box {
  margin-bottom: 20px;
}

.form-agreement {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 32px;
}

.check-wrap {
  width: 20px;
  min-width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid rgba(117, 137, 165, 0.2);
  position: relative;
  margin-right: 16px;
}

.check-agreement {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.check-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  z-index: 1;
}

.check-mask:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-image: url("../img/icons/vec-white.svg");
  background-position: center center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}

.check-agreement:checked + .check-mask {
  background-color: #007AFF;
  border: none;
}

.check-label {
  color: #1A1D3E;
  line-height: 19px;
  max-width: 492px;
}

.check-label a {
  color: #1A1D3E;
  text-decoration: underline;
}

.order-btn {
  width: 100%;
  height: 64px;
  background: #007AFF;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.order-btn span {
  font-size: 16px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}

.order-btn:hover {
  background-color: #7589A5;
}

.order-close {
  width: 16px;
  height: 16px;
  border: none;
  position: absolute;
  top: 56px;
  right: 64px;
  padding: 0;
  background: none;
  cursor: pointer;
}

.order-close:hover {
  opacity: 0.8;
}

.error-text {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #FF3B30;
  padding: 8px 0;
}

.header {
  padding: 48px 0;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  -webkit-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  border-bottom: 1px solid transparent;
}

.header .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo svg path {
  -webkit-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.header__dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 115%;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 0;
  padding-left: 32px;
  background: #F7F9FA;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-top: -5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.05);
}

.header__dropdown:hover {
  opacity: 1;
  visibility: visible;
}

.header .level-2 {
  position: absolute;
  top: 0;
  left: 90%;
  padding: 32px 0 32px 32px;
  background-color: #fff;
  width: 336px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 32px;
  z-index: 2;
  border: 1px solid rgba(117, 137, 165, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.05);
}

.header .level-2:hover {
  opacity: 1;
  visibility: visible;
}

.header .level-2__item {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.header .level-2__item:last-child {
  margin-bottom: 0;
}

.header .level-2__item a {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #7589A5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.header .level-2__item a:hover {
  color: #1A1D3E;
}

.header .level-2__item a:hover + .next-levl {
  visibility: visible;
  opacity: 1;
}

.header__dropdown-item {
  margin-bottom: 20px;
  width: 272px;
  position: relative;
}

.header__dropdown-item:last-child {
  margin-bottom: 0;
}

.header__dropdown-item:nth-child(1) a:active svg path {
  fill: #007AFF;
}

.header__dropdown-item:nth-child(4) a:active svg path {
  fill: #007AFF;
}

.header__dropdown-item:nth-child(2) a:active svg path {
  stroke: #007AFF;
}

.header__dropdown-item:nth-child(3) a:active svg path {
  stroke: #007AFF;
}

.header__dropdown-item:nth-child(5) a:active svg path {
  stroke: #007AFF;
}

.header__dropdown-item:nth-child(6) a:active svg path {
  stroke: #007AFF;
}

.header__dropdown-item:nth-child(7) a:active svg path {
  stroke: #007AFF;
}

.header .dropdown--visible {
  display: block;
}

.header__dropdown-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7589A5;
  font-size: 16px;
  line-height: 18px;
}

.header__dropdown-link svg {
  margin-right: 16px;
}

.header__dropdown-link:hover {
  color: #1A1D3E;
}

.header__dropdown-link:hover .next-levl {
  visibility: visible;
  opacity: 1;
}

.header__dropdown-link:hover + .level-2 {
  opacity: 1;
  visibility: visible;
}

.header .next-levl {
  margin-left: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-right: 32px;
}

.header__menu-link:hover ~ .header__dropdown {
  opacity: 1;
  visibility: visible;
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 51px;
}

.header__menu-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  width: 10px;
  height: 6px;
}

.header__menu-arrow svg {
  display: block;
}

.header__menu-arrow svg path {
  -webkit-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.header__menu-item {
  margin: 0 14px;
  padding-right: 23px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.header__menu-item--active {
  border-bottom: 2px solid  #007AFF;
}

.header__menu-link {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  -webkit-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  display: block;
  height: 51px;
  line-height: 51px;
  white-space: nowrap;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.header__menu-link--active {
  border-bottom: 2px solid  #007AFF;
}

.header.fixed {
  padding: 15px 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(117, 137, 165, 0.2);
}

.header.fixed .header__logo svg path {
  fill: #1A1D3E;
}

.header.fixed .header__logo svg circle + path {
  fill: url(#paint0_linear);
}

.header.fixed .header__logo svg circle + path + path {
  fill: #fff;
}

.header.fixed .header__menu-arrow svg path {
  stroke: #1A1D3E;
}

.header.fixed .header__menu-link {
  color: #1A1D3E;
}

.footer {
  margin-top: 124px;
  background-color: #1A1D3E;
}

.footer__content {
  padding: 72px 0;
}

.footer__row {
  margin: 0 -20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.footer__col {
  margin: 40px 0;
  padding: 0 20px;
  width: 33.33333%;
}

.footer__col h3 {
  max-width: 200px;
  color: #fff;
}

.footer__col ul {
  padding-top: 8px;
}

.footer__col ul li {
  margin-top: 16px;
}

.footer__col ul li a {
  font-size: 16px;
  line-height: 20px;
  color: #7589A5;
}

.footer__bottom {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer__bottom .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-right {
  margin-left: 15px;
  width: 100%;
  max-width: 328px;
}

.footer__bottom-first {
  padding: 55px 0;
}

.footer__bottom-second {
  border-top: 1px solid rgba(117, 137, 165, 0.2);
  padding: 40px 0;
  font-size: 16px;
  line-height: 20px;
  color: #7589A5;
}

.footer__phone {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  color: #fff;
}

.footer__email {
  margin-top: 12px;
  display: table;
  font-size: 16px;
  line-height: 20px;
  color: #7589A5;
}

.footer__feedback-btn {
  width: 100%;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__codes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -16px;
}

.footer__codes li {
  margin: 0 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__codes li span {
  margin-right: 16px;
  border: 1px solid #7589A5;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 6px 8px;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
}

.main-section {
  background: #1A1D3E;
  height: 100vh;
}

.main-section .wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
}

.main-section__text {
  margin-bottom: 35px;
  max-width: 680px;
  text-align: center;
}

.main-section__text .main-title {
  color: #fff;
}

.main-section__text p {
  padding-top: 30px;
  font-size: 26px;
  line-height: 36px;
  font-weight: 400;
  color: #7589A5;
}

.main-section__partners {
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 80px;
  max-width: 785px;
  position: absolute;
}

.main-section__partners .slick-arrow {
  width: 6px;
  height: 10px;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

.main-section__partners .slick-arrow:before {
  display: none;
}

.main-section__partners .slick-arrow.slick-prev {
  left: -112px;
  background-image: url("../img/arrow-left.svg");
}

.main-section__partners .slick-arrow.slick-next {
  right: -112px;
  background-image: url("../img/arrow-right.svg");
}

.main-section__partners-item {
  height: 20px;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.services {
  padding-bottom: 130px;
  overflow: visible;
}

.services__header {
  border-bottom: 1px solid rgba(117, 137, 165, 0.2);
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  z-index: 2;
}

.services__header .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.services__tab-link {
  width: 33.3333%;
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  color: #7589A5;
}

.services__tab-link:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #007AFF;
  -webkit-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
}

.services__tab-link.active {
  color: #1A1D3E;
}

.services__tab-link.active:after {
  opacity: 1;
}

.services__number {
  margin-bottom: 124px;
  font-weight: 500;
  font-size: 78px;
  line-height: 78px;
  letter-spacing: -2.5px;
  color: #7589A5;
  opacity: 0.3;
}

.services__item {
  width: 91%;
}

.services__item h2 {
  margin-top: 20px;
}

.services__list {
  padding-top: 15px;
}

.services__list li {
  margin-top: 15px;
  padding-left: 26px;
  font-size: 16px;
  line-height: 20px;
  color: #7589A5;
  position: relative;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.services__list li:before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0;
  top: 6px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #7589A5;
}

.product {
  padding: 94px 0;
  position: relative;
}

.product:before, .product:after {
  top: 0;
  content: '';
  position: absolute;
  z-index: 0;
  width: 50%;
  height: 100%;
}

.product:after {
  left: 0;
  background-color: #007AFF;
}

.product:before {
  right: 0;
  background-color: #1A1D3E;
}

.product .wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product__item {
  max-width: 392px;
}

.product__preview {
  width: 100%;
  height: 220px;
}

.product__preview iframe,
.product__preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product .label {
  margin-top: 64px;
}

.product h2 {
  margin: 24px 0;
  color: #fff;
}

.product p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  opacity: .7;
}

.advantages {
  padding: 45px 0;
  border-bottom: 1px solid rgba(117, 137, 165, 0.2);
}

.advantages .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item {
  width: 33.3333%;
  text-align: center;
}

.advantages__number {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #1A1D3E;
}

.advantages p {
  padding-top: 5px;
  font-size: 16px;
  line-height: 18px;
  color: #7589A5;
}

.industry {
  padding: 95px 0 125px;
  overflow: hidden;
}

.industry__slider {
  margin-top: 40px;
}

.industry__slider:before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100%;
  top: 0;
  left: -100vw;
  background-color: #fff;
}

.industry__slider .slick-list {
  margin: 0 -12px;
  overflow: visible;
}

.industry__slider .slick-arrow {
  top: -20%;
  width: 18px;
  height: 28px;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

.industry__slider .slick-arrow:before {
  display: none;
}

.industry__slider .slick-arrow.slick-prev {
  right: 50px;
  left: initial;
  background-image: url("../img/arrow-left-big.svg");
}

.industry__slider .slick-arrow.slick-next {
  right: 0;
  background-image: url("../img/arrow-right-big.svg");
}

.industry__slider .slick-slide {
  display: block;
  margin: 0 12px;
  padding: 40px 30px 40px 40px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  height: 320px;
  border: 1px solid rgba(117, 137, 165, 0.2);
}

.industry__slider .slick-slide h3 {
  margin-top: 65px;
}

.industry__slider .slick-slide p {
  padding-top: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #7589A5;
}

.main-title-wrap {
  position: relative;
  width: 680px;
  height: 100px;
}

.main-title {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.ml1 {
  font-weight: 500;
  font-size: 4.875em;
  opacity: 0;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.ml1 .line1 {
  top: 0;
  left: 0;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.main-section__text {
  margin-top: 18px;
}

.industry__slider .slick-slide:hover {
  border: 2px solid #007AFF;
}

.industry__slider .slick-slide:hover .svg-fill path {
  fill: #007AFF;
}

.industry__slider .slick-slide:hover .svg-stroke path {
  stroke: #007AFF;
}

.assistmant .main {
  overflow: visible;
}

.assitmant-header .header__menu-link {
  color: #1A1D3E;
}

.assitmant-header .header__logo svg path {
  fill: #1A1D3E;
}

.assitmant-header .header__logo svg circle + path {
  fill: url(#paint0_linear);
}

.assitmant-header .header__logo svg circle + path + path {
  fill: #fff;
}

.assitmant-header .header__menu-arrow svg path {
  stroke: #1A1D3E;
}

.assistmant-main {
  background-color: #F7F9FA;
}

.assistmant-main .main-title-wrap {
  height: auto;
}

.assistmant-main .main-section__partners {
  display: none;
}

.for-what__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.for-what__left-column {
  width: 68.21%;
  padding-top: 84px;
}

.for-what__right-column {
  padding-top: 84px;
  width: 31.79%;
  min-height: 310px;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.for-what__section {
  padding-bottom: 80px;
  max-width: 680px;
}

.for-what__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1px;
  color: #1A1D3E;
  margin-bottom: 24px;
  max-width: 592px;
}

.for-what__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7589A5;
  margin-bottom: 33px;
  max-width: 592px;
}

.for-what__s-list {
  padding: 40px 48px 40px 40px;
  margin-top: 35px;
}

.for-what__s-item {
  margin-bottom: 80px;
}

.for-what__s-item:last-child {
  margin-bottom: 0;
}

.for-what__tab:first-child .for-what__tab-link {
  padding-top: 0;
}

.for-what__tab-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(117, 137, 165, 0.2);
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #7589A5;
}

.s-item__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #1A1D3E;
  margin-bottom: 16px;
}

.s-item__description {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #7589A5;
  margin-bottom: 23px;
  max-width: 555px;
}

.s-item__btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: #007AFF;
  padding: 15px 24px;
  border: 1px solid #007AFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.s-item__btn:hover {
  background-color: #007AFF;
  color: #FFFFFF;
}

.brad-crambs {
  padding: 16px 0;
  border-bottom: 1px solid rgba(117, 137, 165, 0.2);
  position: -webkit-sticky;
  position: sticky;
  top: 82px;
  background-color: #fff;
}

.brad-crambs__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.brad-crambs__item {
  padding: 0 18px;
  position: relative;
}

.brad-crambs__item:first-child {
  padding-left: 0;
}

.brad-crambs__link {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #1A1D3E;
  width: 100%;
}

.brad-crambs__link--disabled {
  color: #7589A5;
}

.brad-crambs__link--disabled:after {
  display: none;
}

.brad-crambs__link:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 8px;
  background-image: url("../img/icons/vec-gray.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.tab-link--active {
  color: #1A1D3E;
  border-bottom: 2px solid #007AFF;
}

.order-consult--static .order-close {
  display: none;
}

.e-commerce .main {
  overflow: visible;
}

.form-title--xl {
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1px;
  color: #1A1D3E;
  max-width: 550px;
}

.e-commerce .check-label {
  max-width: 600px;
}

.e-commerce .footer {
  margin-top: 45px;
  font-size: 16px;
  line-height: 20px;
  color: #1A1D3E;
}

.industry-section {
  padding-top: 124px;
}

.industry-section__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 25px;
}

.industry-section__item {
  display: block;
  margin: 0;
  padding: 40px 30px 40px 40px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  height: 320px;
  border: 2px solid rgba(117, 137, 165, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 328px;
  max-width: 328px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.industry-section__item .fill-svg path, .industry-section__item .stroke-svg path {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.industry-section__item:hover {
  border: 2px solid #007AFF;
}

.industry-section__item:hover .fill-svg path {
  fill: #007AFF;
}

.industry-section__item:hover .stroke-svg path {
  stroke: #007AFF;
}

.industry-section__item h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #1A1D3E;
  margin-top: 65px;
}

.industry-section__item .mt-xs {
  margin-top: 32px;
}

.industry-section__item p {
  padding-top: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #7589A5;
}

.web .main {
  overflow: visible;
  margin-top: 114px;
}

.web {
  position: static;
}

.web .header {
  padding-bottom: 16px;
  background-color: #fff;
}

.web .brad-crambs {
  top: 114px;
  background-color: #fff;
  z-index: 2;
}

.web .form-title {
  font-size: 26px;
}

.web .for-what__tabs {
  padding-top: 18px;
}

.web .for-what__left-column, .web .for-what__right-column {
  padding-top: 64px;
}

.web .for-what__description {
  max-width: 658px;
  margin-bottom: 25px;
}

.web .for-what__section {
  padding-bottom: 31px;
}

.web .for-what__s-list {
  padding-left: 0;
  margin-top: 0;
  padding-top: 24px;
  padding-bottom: 9px;
  padding-right: 38px;
}

.web .for-what__s-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

h4.for-what__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #1A1D3E;
  margin-bottom: 0;
}

.web .fl-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.for-what__circle {
  width: 32px;
  min-width: 32px;
  height: 32px;
  border: 2px solid #007AFF;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
}

.for-what__circle--green {
  border: 2px solid #4CD964;
}

.for-what__circle img {
  display: block;
  margin: 0 auto;
}

.for-what__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1A1D3E;
}

.web .form-title {
  margin-top: 9px;
  margin-bottom: 22px;
}

.order-consult--static {
  z-index: 1;
}

.other {
  padding-top: 80px;
}

.other__s-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1px;
  color: #1A1D3E;
  margin-bottom: 40px;
}

.other__slider .slick-list {
  overflow: visible;
}

.other__slide-content {
  padding: 40px 48px 40px 40px;
  border: 1px solid rgba(117, 137, 165, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  max-width: 680px;
  margin-right: 24px;
}

.other__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #1A1D3E;
  margin-bottom: 16px;
}

.other__descr {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #7589A5;
  margin-bottom: 24px;
}

.input-label {
  z-index: 1;
}

.company {
  overflow: visible;
}

.company .footer {
  margin-top: 85px;
}

.company .ml11 {
  opacity: 1;
}

.company .main {
  overflow: visible;
}

.company .services {
  position: -webkit-sticky;
  position: sticky;
  top: 82px;
  background-color: #fff;
  padding-bottom: 0;
}

.company .main-section__text {
  max-width: 856px;
  text-align: center;
}

.company .main-title-wrap {
  width: auto;
}

.company .s-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1px;
  color: #1A1D3E;
}

.history {
  max-width: 592px;
  margin-top: 65px;
}

.history .s-title {
  margin-bottom: 24px;
}

.history__descr {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7589A5;
  margin-bottom: 24px;
}

.work {
  padding-bottom: 40px;
  padding-top: 55px;
}

.work__cards {
  margin-top: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__card {
  padding: 40px;
  border: 1px solid rgba(117, 137, 165, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  max-width: 504px;
  width: 48.83%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.work__card:hover {
  border: 1px solid #007AFF;
}

.work__card-title {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #1A1D3E;
  margin-bottom: 12px;
}

.work__card-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #1A1D3E;
  margin-bottom: 24px;
}

.work__card-descr {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #7589A5;
  margin-bottom: 12px;
}

.work__cards-btn {
  margin-top: 18px;
}

.licenses {
  padding-top: 40px;
  padding-bottom: 35px;
}

.licenses__download-pdf {
  border: 1px solid rgba(117, 137, 165, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 32px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.licenses__img {
  margin-right: 24px;
}

.licenses__title {
  font-weight: 500;
  font-size: 26px;
  color: #1A1D3E;
}

.licenses__title p {
  margin-top: 12px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7589A5;
}

.licenses__download-link {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  margin-left: auto;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
  color: #7589A5;
  padding: 6px 10px;
  border: 1px solid rgba(117, 137, 165, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.licenses__download-link:hover {
  background-color: #007AFF;
  color: #fff;
}

.licenses .s-title {
  margin-bottom: 32px;
}

.sertificates {
  padding: 40px 0;
}

.sertificates .s-title {
  margin-bottom: 32px;
}

.sertificates__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.sertificates__item {
  padding: 40px 40px 45px 40px;
  border: 1px solid rgba(117, 137, 165, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  max-width: 504px;
  max-height: 294px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sertificates__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #1A1D3E;
  margin-bottom: 12px;
}

.sertificates__descr {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7589A5;
  margin-bottom: 20px;
}

.sertificates__show-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sertificates__show-more a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #7589A5;
}

.sertificates img {
  margin-top: auto;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.c-contacts {
  padding: 40px 0;
}

.c-contacts .s-title {
  margin-bottom: 32px;
}

.c-contacts__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-contacts__left {
  width: 65.9%;
}

.c-contacts__right {
  width: 34.1%;
  height: 100%;
}

.c-contacts__info {
  margin-left: 31.8%;
}

.c-contacts__name {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #1A1D3E;
  margin-bottom: 16px;
}

.c-contacts__inn {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #7589A5;
  margin-bottom: 16px;
}

.c-contacts__kpp {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #7589A5;
}

.c-contacts__phone {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #1A1D3E;
  margin-top: 32px;
  margin-bottom: 12px;
  display: inline-block;
}

.c-contacts__email {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #7589A5;
  display: inline-block;
}

.c-contacts .check-label {
  max-width: 560px;
}

.services .flex-container {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.services__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.services .empty {
  width: 100%;
  height: 124px;
}

.services__slide {
  margin-top: 124px;
}

.services__slider-left {
  width: 51.16%;
}

.services__left {
  width: 100%;
}

.services__right {
  width: 48.84%;
  height: 556px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-top: 124px;
  position: -webkit-sticky;
  position: sticky;
  top: -webkit-calc(50% - 278px);
  top: calc(50% - 278px);
}

.services .s-figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.services__red {
  background-color: #007aff;
  opacity: 1;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.services__yellow {
  background-color: #007aff;
  opacity: 0;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.services__blue {
  background-color: #007aff;
  opacity: 0;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.services .not-visible {
  opacity: 0;
}

.services .visible {
  opacity: 1;
}
