.e-commerce .main {
  overflow: visible;
}

.form-title--xl {
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1px;
  color: #1A1D3E;
  max-width: 550px;
}

.e-commerce .check-label {
  max-width: 600px;

}

.e-commerce .footer {
  margin-top: 45px;
  font-size: 16px;
  line-height: 20px;
  color: #1A1D3E;
}