
.industry-section {
  padding-top: 124px;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 25px;
  }

  &__item {
    display: block;
    margin: 0;
    padding: 40px 30px 40px 40px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    height: 320px;
    border: 2px solid rgba(117, 137, 165, 0.2);
    box-sizing: border-box;
    min-width: 328px;
    max-width: 328px;
    transition: all $ease;

    .fill-svg path, .stroke-svg path {
      transition: all $ease;
    }

    &:hover {
      border: 2px solid #007AFF;

      .fill-svg path {
        fill: #007AFF;
      }

      .stroke-svg path {
        stroke: #007AFF;
      }
    }

    h3 {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      color: #1A1D3E;
      margin-top: 65px;
    }

    .mt-xs {
      margin-top: 32px;
    }

    p {
      padding-top: 16px;
      font-size: 16px;
      line-height: 24px;
      color: #7589A5;
    }
  }

}

@media only screen and (max-width: 1120px) {
  .industry-section__list {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 26px;
  }

  .industry-section__item {
    margin: 0 auto;
    padding: 33px;
  }

  .industry-section {
    padding-top: 40px;
  }

  .industry-section__item h3 {
    font-size: 16px;
    line-height: 18px;
    margin-top: 0;
  }

  .industry-section__item p {
    font-size: 13px;
    line-height: 18px;
  }

  .industry-section__item a {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

  }

  .industry__icon {
    margin-bottom: auto;
  }

  .industry-section {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 760px) {
  .industry-section__item {
    min-width: 100%;
  }

  .industry-section__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 26px;
  }

}

@media only screen and (max-width: 577px) {
  .industry-section__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 26px;
  }
}