.web .main {
  overflow: visible;
  margin-top: 114px;
}

.web {
  position: static;
}


  .web .header {
  padding-bottom: 16px;
  background-color: #fff;
    border-bottom: 1px solid rgba(117, 137, 165, 0.2) !important;
}

.web .footer {
  margin-top: 0;
}

.web .brad-crambs {
  top: 114px;
  background-color: #fff;
  z-index: 2;
  border-top: 1px solid rgba(117, 137, 165, 0.2);
}

.web .form-title {
  font-size: 26px;
}

.web .for-what__tabs {
  padding-top: 18px;
  padding-bottom: 31px;
}

.web .for-what__left-column, .web .for-what__right-column {
  padding-top: 64px;
}

.web .for-what__description {
  max-width: 658px;
  margin-bottom: 25px;
}

.web .for-what__section {
  padding-bottom: 31px;
}

.web .for-what__s-list {
  padding-left: 0;
  margin-top: 0;
  padding-top: 24px;
  padding-bottom: 9px;
  padding-right: 38px;
}

.web .for-what__s-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

h4.for-what__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #1A1D3E;
  margin-bottom: 0;
}

.web .fl-start {
  align-items: flex-start;
}

.for-what__circle {
  width: 32px;
  min-width: 32px;
  height: 32px;
  border: 2px solid #007AFF;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;

  &--green {
    border: 2px solid #4CD964;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.for-what__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1A1D3E;
}


.web .form-title {
  margin-top: 9px;
  margin-bottom: 22px;
}

.order-consult--static {
  z-index: 1;
}

.other {
  padding-top: 80px;
  padding-bottom: 108px;
  background-color: #F7F9FA;
  overflow: hidden;

  &__s-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1px;
    color: #1A1D3E;
    margin-bottom: 40px;
  }

  &__slider .slick-list {
    overflow: visible;
  }



  &__slide-content {
    padding: 40px 48px 40px 40px;
    border: 1px solid rgba(117, 137, 165, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 680px;
    margin-right: 24px;
  }

  &__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #1A1D3E;
    margin-bottom: 16px;
  }

  &__descr {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #7589A5;
    margin-bottom: 24px;
  }
}

.services {
  padding-bottom: 0;
}

.other__slide-content {
  background-color: #fff;
}

.slick-prev:before, .slick-next:before {
  opacity: 0;
}

.input-label {
  z-index: 1;
}

.for-what__s-list {
  border: none;
}

.services .main-section__partners {
  display: none;
}

@media only screen and (max-width: 1084px){
  .other__slide-content {
    max-width: 65%;
  }
}


@media only screen and (max-width: 768px) {
  .fixed {
    padding: 37px 0;
    border-bottom: 1px solid rgba(117, 137, 165, 0.2);
  }

  .web .for-what__container {
    flex-direction: column;
  }

  .main-section__btn {
    margin-top: 28px;
  }

  .services .services__slide .wrapper {
    padding-left: 0;
  }

  .web .for-what__container {
    padding: 0;
  }

  .web .for-what__right-column {
    padding: 0 40px;
    overflow: hidden;
    top: 114px;
    border-bottom: 1px solid rgba(117, 137, 165, 0.2) !important;
  }
  .web .for-what__left-column {
    padding: 0 40px;
    margin-top: 45px;
  }

  .web .for-what__title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 24px;
  }

  .for-what__tabs .slick-list:before {
    height: 60px;
  }


  .web .for-what__section {
    padding-bottom: 23px;
  }

  .web .for-what__tabs {
    padding-bottom: 0;
    padding-top: 0;
  }

  .web .hamburger-inner, .web  .hamburger-inner:after, .web  .hamburger-inner:before {
    background-color: #1A1D3E;
  }
  .header {
    border-bottom: 1px solid rgba(117, 137, 165, 0.2);
  }

  .web .for-what__title--min {
    font-size: 26px;
    line-height: 32px;
  }

  .web .for-what__s-list {
    padding-top: 0;
  }

  .web .for-what__s-list {
    margin-bottom: 5px;
  }

  .web #results {
    padding-bottom: 7px;
  }

  .web .other {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .web .other__title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 12px;
  }

  .web .other__descr {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 24px;
  }

  .other__slide-content {
    max-width: 85%;
  }

  .web .other .slick-slider .slick-slide {
    transform: translateX(-13%);
  }

  .web .slick-arrow {
    display: none !important;
  }
}



@media only screen and (max-width: 577px) {
  .main-section__btn {
    padding: 15px 24px;
  }

  .web .main {
    margin-top: 64px;
  }

  .web .for-what__right-column {
    top: 60px;
    border-bottom: 1px solid rgba(117, 137, 165, 0.2);
    border-top: 1px solid rgba(117, 137, 165, 0.2);
  }



  .web .for-what__title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 16px;
  }

  .web .for-what__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .web .header {
    padding: 12px 0;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(117, 137, 165, 0.2) !important;
  }

  .web .for-what__left-column {
    margin-top: 23px;
  }

  .web .for-what__left-column {
    padding: 0 20px;
  }

  .web .for-what__right-column {
    padding-left: 20px;
  }

  .web .for-what__s-item {
    align-items: flex-start;
  }

  .web .for-what__section {
    padding-bottom: 11px;
  }

  .other__slide-content {
    max-width: 100%;
  }

  .web .other .slick-slider .slick-slide {
    transform: translateX(-1%);
  }

  .web .for-what__s-list {
    padding-right: 0;
  }

  .web .other__slide-content {
    padding: 24px;
  }
}

@media only screen and (max-width: 400px) {
  .services__header .services__tab-link {
    white-space: nowrap;
    width: fit-content;
    margin-right: 40px !important;
    margin-left: 10px !important;
    font-size: 13px;
    line-height: 14px;
  }
}
























