.header {
  padding: 48px 0;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  transition: $delay;
  border-bottom: 1px solid transparent;

  $this: &;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    svg {
      path {
        transition: $delay;
      }
    }
  }



  &__dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 115%;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 0;
    padding-left: 32px;
    background: #F7F9FA;
    border-radius: 8px;
    margin-top: -5px;
    transition: all $ease;
    box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.05);
    z-index: 3;

    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }

  .level-2 {
    position: absolute;
    top: 0;
    left: 90%;
    padding: 32px 0 32px 32px;
    background-color: #fff;
    width: 336px;
    visibility: hidden;
    opacity: 0;
    transition: all $ease;
    margin-left: 32px;
    z-index: 2;
    border: 1px solid rgba(117, 137, 165, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.05);

    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }

  .level-2__item {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-self: center;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #7589A5;
      transition: all $ease;
      white-space: nowrap;

      &:hover {
        color: #1A1D3E;
        & + .next-levl {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &__dropdown-item {
    margin-bottom: 20px;
    width: 272px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(1) a:active svg path {
      fill: $light-blue;
    }
    &:nth-child(4) a:active svg path {
      fill: $light-blue;
    }
    &:nth-child(2) a:active svg path {
      stroke: $light-blue;
    }
    &:nth-child(3) a:active svg path {
      stroke: $light-blue;
    }
    &:nth-child(5) a:active svg path {
      stroke: $light-blue;
    }
    &:nth-child(6) a:active svg path {
      stroke: $light-blue;
    }
    &:nth-child(7) a:active svg path {
      stroke: $light-blue;
    }
  }

  .dropdown--visible {
    display: block;
  }

  &__dropdown-link {
    display: flex;
    align-items: center;
    color: $grey;
    font-size: 16px;
    line-height: 18px;

    svg {
      margin-right: 16px;
    }

    &:hover {
      color: #1A1D3E;

      .next-levl {
        visibility: visible;
        opacity: 1;
      }

      & + .level-2 {
        opacity: 1;
        visibility: visible;
      }
    }

  }

  .next-levl {
    margin-left: auto;
    visibility: hidden;
    opacity: 0;
    transition: $ease;
    margin-right: 32px;
  }

  &__menu-link:hover {
    & ~ .header__dropdown {
      opacity: 1;
      visibility: visible;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    height: 51px;

    &-arrow {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 0;
      width: 10px;
      height: 6px;

      svg {
        display: block;

        path {
          transition: $delay;
        }
      }
    }

    &-item {
      margin: 0 14px;
      padding-right: 23px;
      position: relative;
      display: flex;
      align-self: center;

      &--active {
        border-bottom: 2px solid  #007AFF;
      }
    }

    &-link {
      font-size: 16px;
      line-height: 18px;
      color: $white;
      transition: $delay;
      display: block;
      height: 51px;
      line-height: 51px;
      white-space: nowrap;
      border-bottom: 2px solid transparent;
      transition: all .3s ease-out;

      &--active {
        border-bottom: 2px solid  #007AFF;
      }
    }


  }

  &.fixed {
    padding: 15px 0;
    background-color: $white;
    border-bottom: 1px solid rgba(117, 137, 165, 0.2);

    #{$this}__logo {
      svg {
        path {
          fill: $dark-blue;
        }

        circle + path {
          fill: url(#paint0_linear);
        }

        circle + path + path {
          fill: #fff;
        }
      }
    }

    #{$this}__menu {
      &-arrow {
        svg {
          path {
            stroke: $dark-blue;
          }
        }
      }

      &-link {
        color: $dark-blue;
      }
    }
  }
}

@media only screen and (min-width: 1070px) {
  .hamburger {
    display: none;
  }
}

@media only screen and (max-width: 1070px) {
  .hamburger {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
  }




  .hamburger-box {
    width: 32px;
    display: flex;
    justify-content: center;
  }

  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 20px;
    height: 2px;
    background-color: #fff;
  }

  .e-commerce  .hamburger-inner, .e-commerce  .hamburger-inner:after, .e-commerce  .hamburger-inner:before {
    width: 20px;
    height: 2px;
    background-color: #1A1D3E;
  }



  .fixed .hamburger-inner, .fixed .hamburger-inner:after, .fixed .hamburger-inner:before {
    width: 20px;
    height: 2px;
    background-color: #1A1D3E;
  }

  .hamburger-inner:before {
    top: -6px;
  }

  .hamburger-inner:after {
    bottom: -6px;
  }

  .header__menu {
    display: none;
  }

  .header__logo {
    margin-right: auto;
    margin-left: 15px;
  }
}

